<h1>Stupid Coaching</h1>
<p class="card p-2 m-1" style="width: 28rem;" ><%= params[:question] %><br>- You</p>
<p class="alert alert-warning p-2 m-1" role="alert" style="width: 28rem;"><strong><%= @answer %></strong><br>- Your Coach</p>
<p><%= link_to "Ask a new quetion?", "/ask" %></p>
